{% extends 'base.html' %}

{% block titulo %}
    Inicio
{% endblock %}

{% block contenido %}
<h1>Productos</h1>
    <a href="{{ url_for('formCrearProducto') }}">
        Nuevo
    </a>
    <table>
        <tr>
            <td>ID</td>
            <td>NOMBRE</td>
            <td>PRECIO</td>
            <td>IMAGEN</td>
        </tr>

        {% for producto in productos %}
        <tr>
            <td>{{ producto['id'] }}</td>
            <td>{{ producto['nombre'] }}</td>
            <td>{{ producto['price'] }}</td>
            <td>
                <img src="{{ producto['imagen'] }}" style="width: 100px;">
            </td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}